
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.metadata.name + " - "}

block header
  h1(style="font-style: normal;")= page.metadata.name
  p.author(style="color: {page.metadata.color}")
    a(href=page.metadata.twitter style="color: {page.metadata.color}") Twitter
    | •
    a(href=page.metadata.site style="color: {page.metadata.color}") Site

block content
  article.article
    section.content= page.metadata.bio

block prepend footer
  div.nav
    a(href=contents.index.url) « Main page
