extends layout

block content
  include author
  each article in articles
    article.article.intro
      header
        p.date
          span(style="color: #{contents.authors[article.metadata.author + '.json'].metadata.color}")
            | #{moment.utc(article.date).format('DD•MMMM•YYYY') + ' ✎ ' + contents.authors[article.metadata.author + '.json'].metadata.name}
        h2
          if(article.metadata.edition)
            a(href=article.url)= article.title + ' [' + article.metadata.edition + ']'
          else
            a(href=article.url onmouseover="document.getElementById('place-holder-#{article.title}').src='#{article.url+article.metadata.artwork}';" onmouseout="document.getElementById('place-holder-#{article.title}').src='/img/transparent.png';")= article.title
            img(src="/img/transparent.png" id="place-holder-#{article.title}" style="zindex: 100;")
      section.content
        if article.intro.length > 0
          | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url) more

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »
