
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  include author
  h1= page.title
  p.author
    | #{ "Written by " }
    mixin author(page.metadata.author)
    | #{" in "}
    a(href="http://333vinyl.us/#{page.metadata.category}.html" style="color: #{contents.authors[page.metadata.author + '.json'].metadata.color}") #{page.metadata.category}
  div.details
    img(src=page.metadata.artwork)
    div.albumartist
      p.artist= page.metadata.artist
      p.album= page.metadata.album
    if page.metadata.score >= 4.5
      p.score_red= page.metadata.score
    if page.metadata.score < 4.5
      p.score= page.metadata.score
    p.labelrelease
      | #{page.metadata.label}
      br
      | #{page.metadata.release}

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href=contents.index.url) « Full blog
    a(href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this post on 333vinyl" data-via="333vinyl" data-related="333vinyl" data-count="none" data-hashtags="333vinyl" data-dnt="true") Tweet
- !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
